.input-region {
    margin: auto;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    width: 70%;
    padding-left: 3px;
    height: 32px;
    border: 2px solid rgba(204, 234, 187, 0.8);
    caret-color: darkslategray;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    transition: height 240ms, padding 300ms;
}

.input-region-invisible {
    position: relative;
    visibility: hidden;
    background-color: red;
    top: -32px;
}

.input-region-invisible-focus {
    position: relative;
    background-color: red;
    top: -78px;
    height: 48px;
}

.input-region-focus {
    border: 2px solid #cceabb;
    height: 48px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    transition: all 220ms, padding 100ms;
}

.transparent-input {
    position: absolute;
    visibility: visible;
    cursor: text;
    opacity: 0;
    font-size: 16px;
    background-color: blueviolet;
    padding-top: 2px;
    top: 0;
    left: 0;
    height: 22px;
    width: 98.8%;
    resize: none;
}

.transparent-input-focus {
    top: 0;
    height: 38px;
    background-color: blue;
}

.caret {
    position: relative;
    z-index: 9999;
    visibility: visible;
    top: 4px;
    margin-left: -1px;
    width: 1px;
    height: 1.1em;
    background-color: black;
}

.caret-focus {
}