
.input-region {
    width: 500px;
    height: max-content;
    margin: 0 auto;
    margin-bottom: 100px;;
    text-align: left;
    background-color: blue;
    word-wrap: break-word;
    word-break: break-word;
}

.hh {
    background-color: green;
}

.input-region:focus {
    background-color: brown;
}

.text, .caret {
    word-wrap:break-word;
    white-space: pre-wrap;
    text-align: left;
}

.caret {
    word-spacing: -2px;
    visibility: visible;
    margin-left: 1px;
    white-space: pre;
    background-color: rgba(0, 48, 0, 0.9);
}