
.input-region {
    width: 650px;
    min-height: 20px;
    height: auto;
    margin: 0 auto;
    border: 2px solid #00000030;
    text-align: left;
    padding: 10px;
    position: relative;
    word-wrap: none;
    overflow: hidden;
    overflow-y: scroll;
}

/* Note if you change padding or size in input region change it in the hidden one */
.input-hidden-region {
    width: 650px;
    height: 105%;
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: inherit;
    border: inherit;
    opacity: 0.5;
    background-color: lavender;
    caret-color: lavender;
    padding: 10px;
    text-align: left;
    color: blueviolet;
}

.hh {
    background-color: green;
}

.input-region:focus {
    border-color: green;
}

.normal-text, .map-text, .caret {
    display: inline;
    text-align: left;
}


.map-text {
    background-color: teal;
    border: 1px solid red;
}

.caret-container {
    position: relative;
}

.caret {
    letter-spacing: -4px;
    margin-left: -1.6px;
    left: 1.6px;
    background-color: rgba(0, 48, 0, 0.9); 
}

.caret-write {
    left: 0;
    animation: smoothlyGoLeft 100ms linear;
}

@keyframes smoothlyGoLeft {
    from {
        left: -1.4px;
    } to {
        left: 1.6px;
    }
}