.container {
    position: relative;
}

.datetime-picker {
    position: absolute;
    top: 23px;
    right: 90px;
    background-color: #f2f2f2;
}

.mode-buttons {
    display: flex;
    justify-items: stretch;
    align-items: stretch;
}

.mode-button {
    flex: 1 1 0px;
    border: none;
    background: #f2f2f2;
    padding: 8px;
    font-size: 14px;
}

.mode-button:hover {
    background-color: #a1dd70;
}

.selected {
    background-color: #a1dd70;
}

.month-nav {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.month-year {
    flex-grow: 1;
    position: relative;
    bottom: 3px;
}

.nav-button {
    border: 3px solid transparent;
    border-radius: 20px;
    text-align: center;
    height: 50%;
}


.nav-button:hover {
    background-color: red;
}

.day-name {
    width: 28px;
    font-size: 14px;
    font-weight: 500;
}

.day {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.shadow-day {
    color: rgba(0,0,0,0.65)
}

.selected-day {
    background: #76BA1B !important;
}

.day:hover {
    background-color: rgba(204, 234, 187, 1);
}

h5 {
    margin: 2px 0 -2px 0 ;
    font-weight: 300;
    font-size: 14px;
}

.reminder-entry {
    margin-top: 10px;
}

.reminder-entry select, input[type=time] {
    height: 25px;
    margin-top: 4px;
    border: 2px solid rgba(204, 234, 187, 1);
}

.reminder-entry select {
    font-weight: 300;
    background-color: white;
}

.action-buttons {
    display: flex;
    justify-items: stretch;
    margin-top: 10px;
}

.clear-button, .ok-button {
    flex: 1 1 0px;
    padding: 5px;
    border: none;
    background-color: rgba(204, 234, 187, 1);
}

.clear-button:hover, .ok-button:hover {
    background-color: #76BA1B;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}